{% extends "base.html" %}
{% load staticfiles %} 

<!DOCTYPE html>
<html>
<head>
	<title>Base_of_Students</title>
</head>
<body>`
{% block content %}
<hr/><hr/>
<h3><strong>All students:</strong></h3>
	<hr/>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Last Name</th>
      <th> Date of birth</th>
      <th> Students ticket</th>
    </tr>
  </thead>

  <tbody>
    {% for stud in studentsall %}
    <tr>
      <td>{{stud.id}}</td>
      <td>{{stud.firstname}}</td>
      <td>{{stud.lastname}}</td>
      <td>{{stud.dait_of_birth}}</td>
      <td>{{stud.students_ticket}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
 
{% endblock %}
</body>
</body>
</html>

