{% extends "base.html" %}
{% load staticfiles %} 


{% block content %}
<hr/><hr/>
<h3><strong>База студентів:</strong></h3>
	<hr/>
<table class="table table-striped">
  <thead>
    <tr>
      <th>№</th>
      <th>Ім'я</th>
      <th>Призвіще</th>
      <th>Дата народження</th>
      <th>№ Білету</th>
    </tr>
  </thead>

  <tbody>
    {% for stud in studentsall %}
    <tr>
      <td>{{stud.id}}</td>
      <td>{{stud.firstname}}</td>
      <td>{{stud.lastname}}</td>
      <td>{{stud.dait_of_birth}}</td>
      <td>{{stud.students_ticket}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
 
{% endblock %}

