{% extends "base.html" %}
{% load staticfiles %} 


{% block content %}
<br/><br/>
<h3><strong>База студентів:</strong></h3>
	<hr/>
<p><a class="btn btn-primary btn-lg" href="{% url 'students.views.students_add' %}" role="button">Додати студента</a></p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>№</th>
      <th>Фото</th>
      <th>Ім'я</th>
      <th>Призвіще</th>
      <th>Дата народження</th>
      <th>Група</th>      
      <th>№ Білету</th>
      <th>#</th>
    </tr>
  </thead>

  <tbody>
    {% for stud in studentsall %}
    <tr>
      <td>{{stud.id}}</td>
      <td><img src="{{media_base}}{{ stud.photo}}" alt='profile_photo' height="42" width="42" /></td>
      <td>{{stud.firstname}}</td>
      <td>{{stud.lastname}}</td>
      <td>{{stud.date_of_birth}}</td>
      <td><a href="#">{{stud.group}}</td>      
      <td>{{stud.students_ticket}}</td>
      <td><p><a href="{% url 'students.views.students_edit' stud_id=stud.id %}">Edit...</p></td>
    </tr>
    {% endfor %}
  </tbody>
</table>


    

{% endblock %}


 