<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Base_of_Students</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>
<body>
<div class="container">
	<div class="row block-dark">I love fruits</div>
</div>
	<h1>Base of students English course</h1>
	<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="#">Home</a>
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="students">Students<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="test">Groups</a>
    </li>
   </ul>
    <hr/>
    <hr/>
    {% for stud in studentsall %}
    {{stud.firstname}}|{{stud.lastname}}
    <hr/>
    {% endfor %}
</body>
</html>


