{% extends "base.html" %}
{% load staticfiles %} 


{% block content %}
<br/><br/>
	<h3><strong> Список груп:	</strong></h3>
	<hr/>
<p><a class="btn btn-primary btn-lg" href="{% url 'parametry:group_add' %}" role="button">Додати групу</a></p>
<table class="table table-striped">
	<thead>
		<tr>
			<th>№</th>
			<th>Назва групи</th>
			<th>Староста</th>
		</tr>
	</thead>
	<tbody>
	{% for group in groupsall %}
		<tr>
			<td>{{group.id}}</td>
			<td><a href="{% url 'parametry:group_list' group.id %}">{{group.name}}</td>
			<td>{{group.lead}}</td>
		</tr>
	</tbody>
	{% endfor %}
</table>
<!-- <img src="{{ some_model.some_image_field.url }}" /> -->
{% endblock %}
